// PAGE
///////////////////////////

// Variables
///////////////////////////

$Page-MinHeight:		100vh;
$Page-SVG-Color:		rgba($COLOR-Primary, $Opacity);


// Main
///////////////////////////

.page {
	height: $Page-MinHeight;
}

// Variants
///////////////////////////


// Media Queries
///////////////////////////
