// PAGE
///////////////////////////

// Variables
///////////////////////////

$Page-MinHeight:		100vh;
$Page-Padding:			$Type-LineHeight;


// Main
///////////////////////////

.page {
	height: $Page-MinHeight;
}

// Elements
///////////////////////////

.page__content {
	@include padding($Page-Padding);
}

// Variants
///////////////////////////


// Media Queries
///////////////////////////
