		
$Skewed-Lg-Points: 0,0 70,0  50,100 0,100;

.skewed-bg {
	&:after {
		@include svg-bg($Page-SVG-Color, $Skewed-Lg-Points);
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 10;
		top: 0;
		left: 0;
	}
}