<main class="page home">
  <div class="skewed-bf">
    <div class="skewed-bg__content page__content">
      <h1 class="page__title">Bristol Faster Drains</h1>
      <h3 class="page__subhead">Bristol's premier drainage experts</h3>
      <a href="" class="phone">
        <h2 class="phone__num">
          <i class="phone__icon icon icon--phone" role="image" aria-hidden="true"></i>
          <span>01179 123 456</span>
        </h2>
      </a>
      <p>
          All right me luvver ipsum dolor sit amet incididunt gas ed pariatur thee ee sed bemminser consequat et fugiat quicken. Plasterscene lush pacifically chimley. Aliquip discolated minim sed velit nisi ea. Deserunt eadfit gurt lush, magna as-dal elit quis occaecat. Sunt voluptate amblance cillum masarge casnt.
      </p>
    </div>
  </div>
</main>
