<main class="page home">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" height="100%" width="70%" > -->
      <!-- <polygon points="0,0 70,0 50,100 0,100 0,0" style="fill: rgba(0,0,0,0.8)"></polygon> -->
      <!-- <path d="M0 0 L70 0 L50 100 L0 100 L0 0" style="fill: rgba(0,0,0,0.8)" /> -->
    <!-- </svg> -->
  <div class="skewed-bg">
    <div class="skewed-bg__content">
        <h1 class="page__title">Bristol Faster Drains</h1>
        <!-- <p>
            All right me luvver ipsum dolor sit amet me eds erting member dolor theys est largurr ea cillum innit fugiat aarsh veniam. Occaecat magna sunt you gone and done it lectric ee ill non dolor incididunt ut. Glider me eds erting ginormous in, quicken bemminser he dos it ullamco magna do. Occaecat almunsbree aarsh pariatur. Hark at ee i didnt do nothing aarsh smorning ut in duis idut consequat.
        </p>
        <p>
            All right me luvver ipsum dolor sit amet me eds erting member dolor theys est largurr ea cillum innit fugiat aarsh veniam. Occaecat magna sunt you gone and done it lectric ee ill non dolor incididunt ut. Glider me eds erting ginormous in, quicken bemminser he dos it ullamco magna do. Occaecat almunsbree aarsh pariatur. Hark at ee i didnt do nothing aarsh smorning ut in duis idut consequat.
        </p> -->
    </div>
  </div>
</main>
