<main class="page page--admin">
  <div class="page__content">
      <h1 class="page__title">Admin Registration</h1>
      <p>Please note, only approved email addresses will be able to register</p>
      <form class="form">
        <div class="form__row">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Name">
        </div>
        <div class="form__row">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="form__row">
            <label for="password">Password</label>
            <input type="password" password="password" id="password" placeholder="Password">
        </div>
        <div class="form__row">
            <label for="confirm">Confirm Password</label>
            <input type="password" password="confirm" id="confirm" placeholder="Confirm Password">
        </div>
        <div class="form__row">
          <input type="submit" value="Register">
        </div>
      </form>
  </div>
</main>