<main class="page">
  <h2 class="visually-hidden">Services</h2>
  <ul class="list list--services services">
    <li class="services__service services__service--clearance list__item">
      <div class="card skewed-bg">
        <div class="card__content skewed-bg__content">
            <span class="card__title">Drain Clearance</span>
            <a [routerLink]="['/services/clearance']" class="button card__button">Learn More</a>
        </div>
      </div>
    </li>
    <li class="services__service services__service--cctv list__item">
      <div class="card skewed-bg">
        <div class="card__content skewed-bg__content">
            <span class="card__title">CCTV Inspections</span>
            <a [routerLink]="['/services/cctv']" class="button card__button">Learn More</a>
        </div>
      </div>
    </li>
    <li class="services__service services__service--repairs list__item">
      <div class="card skewed-bg">
        <div class="card__content skewed-bg__content">
            <span class="card__title">Drain Repairs</span>
            <a [routerLink]="['/services/repairs']" class="button card__button">Learn More</a>
        </div>
      </div>
    </li>
    <li class="services__service services__service--installation list__item">
      <div class="card skewed-bg">
        <div class="card__content skewed-bg__content">
            <span class="card__title">Drain Installation</span>
            <a [routerLink]="['/services/installation']" class="button card__button">Learn More</a>
        </div>
      </div>
    </li>
    <li class="services__service services__service--tanker list__item">
      <div class="card skewed-bg">
        <div class="card__content skewed-bg__content">
            <span class="card__title">Tanker Services</span>
            <a [routerLink]="['/services/tanker']" class="button card__button">Learn More</a>
        </div>
      </div>
    </li>
    <li class="services__service list__item">
      <div class="card skewed-bg">
        <div class="card__content skewed-bg__content">
            <span class="card__title">Contact Us</span>
            <a [routerLink]="['/contact']" class="button card__button">Get In Touch</a>
        </div>
      </div>
    </li>
  </ul>
</main>
