<nav class="nav nav--admin">
  <ul class="nav__links list list--horizontal list--nav">
    <li class="nav__item">
      <a class="nav__link" (click)="chooseMode('add')">Add Post</a>
    </li>
    <!-- <li class="nav__link" class="nav__item">
      <a (click)="chooseMode('Edit')">Edit Post</a>
    </li> -->
    <li class="nav__item">
      <a class="nav__link" (click)="chooseMode('')">Manage Blogs</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" [routerLink]="['/admin']">Back to Admin</a>
    </li>
    <li *ngIf="theUser"  class="nav__item">
      <a class="nav__link" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

<div [ngSwitch]="menuChoice" >
  <div *ngSwitchCase="'add'">
    <app-blog-add></app-blog-add>
  </div>
  <div *ngSwitchDefault>
      <div *ngIf="formDisplay">
          <div *ngFor="let post of blogPosts">
            <h4>{{post.title}}</h4>
            <p><small>Posted: {{post.date | date}}</small></p>
            <img [src]="post.img" alt="post.imgTitle" class="mini-img" />
            
            <p>{{post.content}}</p>
            <a (click)="editPost(post)" class="button">Edit</a>
            <a (click)="deletePost(post)" class="button alert">Delete</a>
        
          </div>
        </div>
    
        <div *ngIf="!formDisplay">
          <form class="form">
            <div class="form__row">
              <label for="title" class="form__label">Post Title</label>
              <input type="text" name="title" id="title" [(ngModel)]="singlePost.title" required #pstTitle="ngModel">
            </div>
            <div class="form__row">
              <label class="form__label" for="content">Post Content</label>
              <textarea class="form__input" rows="12" name="content" id="content" [(ngModel)]="singlePost.content" required #pstContent="ngModel"></textarea>
            </div>
            <div class="form__row">
              <img [src]="singlePost.img" alt="{{singlePost.imgTitle}}" />
            </div>
            <div class="form__row form__actions">
              <button class="success button" (click)="updatePost(singlePost)" [disabled]="!pstTitle.valid ||!pstContent.valid" type="button">Update post</button>
              <button class="cancel button" (click)="cancelEdit()" type="button">Cancel edit</button>
            </div>
          </form>
        </div>
    
       
  </div>
</div>