// TYPOGRAPHY
$FontSize-XXXS:		8px;
$FontSize-XXS:		10px;
$FontSize-XS:			12px;
$FontSize-S:			14px;
$FontSize:				16px;
$FontSize-L: 			18px;
$FontSize-XL: 		20px;
$FontSize-XXL: 		24px;
$FontSize-XXXL:		36px;

$Type-LineHeight:	1.5;

$FontFamily-Sans:	'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;