// TYPOGRAPHY
//////////////////////////////////////////////

@import url('https://fonts.googleapis.com/css?family=Raleway:700|Roboto:300,400,700');

$Font-Headings:		'Raleway';
$Font-Main:				'Roboto';

$FontSize-XXXS:		8px;
$FontSize-XXS:		10px;
$FontSize-XS:			12px;
$FontSize-S:			14px;
$FontSize:				16px;
$FontSize-L: 			18px;
$FontSize-XL: 		20px;
$FontSize-XXL: 		24px;
$FontSize-XXXL:		36px;

$Type-LineHeight:	1.5;

$FontFamily-Sans:	'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

$FontFamily-Head:	$Font-Headings, $FontFamily-Sans;
$FontFamily-Main:	$Font-Main, $FontFamily-Sans;


$FontWeight-Bold: 700;
$FontWeight-Reg: 	400;
$FontWeight-Thin: 300;



// Breakpoints
///////////////////////////////////////

$BP-Smallest:		340px;
$BP-Small:			480px;
$BP-Med:				670px;
$BP-Large:			1024px;
$BP-Larger:			1400px;
$BP-Largest:		1700px;


// Images
///////////////////////////////////////

$imgPath:				'./assets/img/';



// Colors
///////////////////////////////////////

$COLOR-Primary:		#242533;
$COLOR-Secondary:	#ff9800;
$COLOR-White:			#ffffff;

$Opacity:					0.8;