<nav class="nav nav--main">
  <ul class="nav__links list list--horizontal list--nav">
    <li class="list__item">
      <a class="nav__link" [routerLink]="['/']">Home</a>
    </li>
    <li class="list__item">
      <a class="nav__link" [routerLink]="['/services']">Services</a>
    </li>
    <li class="list__item">
      <a class="nav__link" [routerLink]="['/tips']">Tips</a>
    </li>
    <li class="list__item">
      <a class="nav__link" [routerLink]="['/testimonials']">Testimonials</a>
    </li>
    <li class="list__item">
      <a class="nav__link" [routerLink]="['/blog']">Blog</a>
    </li>
  </ul>
</nav>